QWidget#vw {
    background: rgba(250,250,250,1);
}

QWidget#volumeControl {
    width: 100px;
    height: 80px;
    background-color: black;
}

QWidget#volumeControl QSlider {
    margin-left: 5px;
}
