QSlider::groove:horizontal {
    height: 3px;
    left: 5px;
    right: 5px;
    border: none;
    border-radius: 1px;
    background: rgba(143,188,143,1);
}

QSlider::handle:horizontal {
    width: 9px;
    margin: -3px -3px -3px -3px;
    background: rgba(60,179,113,1);
    border-radius:4px;
}

QSlider::sub-page:horizontal{
    background:rgba(60,179,113,1);
}
